.confirmationPopup__title {
  color: #000;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1;
  margin: 34px auto 38px 36px;
}

.confirmationPopup__submit-button {
  width: 300px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 36px 0;
}

.confirmationPopup__close-button {
  background-color: transparent;
  border: none;
  top: -45px;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.confirmationPopup__close-button-icon {
  width: 40px;
  height: 40px;
}

.confirmationPopup__close-button-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.confirmationPopup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
