.photography {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-auto-rows: auto;
  gap: 20px 17px;
  margin: 0 auto 67px;
  justify-content: center;
  justify-items: center;
}

.photography__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width: 282px;
  background-color: #fff;
}

.photography__card-image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.photography__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: #fff;
  padding: 25px 10px 31px 10px;
  box-sizing: border-box;
}

.photography__info-title {
  color: #000;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 900;
  width: 100%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0 3px 0;
}

.photography__card-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 282px;
  height: 282px;
}

.photography__info-icon {
  width: 21px;
  height: 19px;
}
.photography__info-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.photography__trash-icon {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
}

.photography__trash-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .photography {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    margin: 0 auto 50px;
    max-width: 282px;
    width: 100%;
  }
}
